/* MAIN CONTAINER */
.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #0d1117;
  color: white;
}

/* LEFT SECTION */
.left-panel {
  width: 50%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.graph-img {
  width: 320px;
  margin-bottom: 30px;
  opacity: 0.9;
}

.title {
  font-size: 42px;
  font-weight: 600;
}

.subtitle {
  font-size: 36px;
  font-weight: 700;
  margin-top: 10px;
}

.tagline {
  margin-top: 20px;
  color: #aaaaaa;
  font-size: 16px;
}

/* RIGHT SECTION */
.right-panel {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #1c1f25;
  padding: 35px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.4);
}

.card-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.label {
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

.input-box {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #333;
  background-color: #0f1115;
  color: white;
}

.forgot-wrapper {
  display: flex;
  justify-content: flex-end;
}

.forgot {
  margin-top: 8px;
  font-size: 13px;
  color: #6db2ff;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  background: #22c55e;
  padding: 12px;
  border: none;
  border-radius: 6px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.login-btn:hover {
  background: #18a84c;
}

.register-text {
  text-align: center;
  margin-top: 20px;
  color: #ccc;
}

.register-text a {
  color: #22c55e;
  text-decoration: none;
}
